# Django Core Settings
SECRET_KEY=django-insecure-#c(e@r!^r&r90_rl)lwz!xxtgq!stz=b)cwx!d+1gwdp3@11d_
DEBUG=True
ALLOWED_HOSTS=*

# Database Configuration (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=FoodDb
DB_USER=postgres
DB_PASSWORD=test1234
DB_HOST=127.0.0.1
DB_PORT=5432

# AI Search / OpenAI Integration (Optional)


